In [1]:
import pandas as pd
import numpy as np
import random
import os

In [2]:
os.chdir('Data')

In [3]:
student = pd.read_csv('student.csv')
user = pd.read_csv('user.csv')
group = pd.read_csv('group.csv')

In [4]:
group = group.drop(group.index)

In [5]:
student = student.drop(student.index)

In [6]:
faculty_name = ['ПМИ']
degree = ['бакалавр', 'специалист', 'магистр']
form_of_education = ['очная', 'заочная', 'вечерняя']
basis_of_education = ['контрактная', 'бюджетная']
year_of_formation = [2015, 2016, 2017]

In [7]:
group.group_id = np.arange(1, 5)

In [8]:
group.degree = group.group_id.apply(lambda x: np.random.choice(degree, p=[0.5, 0.2, 0.3]))
group.form_of_education = group.group_id.apply(lambda x: np.random.choice(form_of_education, p=[0.7, 0.1, 0.2]))
group.year_of_formation = group.group_id.apply(lambda x: np.random.choice(year_of_formation))

In [9]:
group

,group_id,group_name,faculty_name,course_num,year_of_formation,degree,form_of_education
0,1,NaN,NaN,NaN,2017,магистр,очная
1,2,NaN,NaN,NaN,2016,магистр,очная
2,3,NaN,NaN,NaN,2016,магистр,очная
3,4,NaN,NaN,NaN,2017,специалист,очная

In [10]:
group.group_name = group.degree.apply(lambda x: x[0].upper()) + \
group.year_of_formation.apply(lambda x: str(x)[-2:]) + \
'-' + group.group_id.apply(lambda x: ('000' + str(x))[-3:])

In [11]:
group.course_num = group.year_of_formation.apply(lambda x: 2021-x)

In [12]:
group.faculty_name = 'ПМИ'

In [13]:
group

,group_id,group_name,faculty_name,course_num,year_of_formation,degree,form_of_education
0,1,М17-001,ПМИ,4,2017,магистр,очная
1,2,М16-002,ПМИ,5,2016,магистр,очная
2,3,М16-003,ПМИ,5,2016,магистр,очная
3,4,С17-004,ПМИ,4,2017,специалист,очная

In [14]:
student.user_id = user.user_id

In [15]:
student.group_id = student.user_id.apply(lambda x: np.random.choice(group.group_id.values))

In [16]:
student.basis_of_education = student.user_id.apply(lambda x: np.random.choice(basis_of_education))

In [17]:
student.year_of_entry = student.group_id.apply(lambda x: group[group.group_id==x].year_of_formation.values[0] + np.random.choice([0, -1], p=[0.95, 0.05]))

In [18]:
group.to_csv('group.csv', index=False)
student.to_csv('student.csv', index=False)